<h1 style="font-size:10rem;color:blue;">Python Learning</h1>

# Python For Adults

<img src="https://res.cloudinary.com/practicaldev/image/fetch/s--YCJxZP4V--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/tteuu4xw5tomxb7l0xjx.png">

<h1 style="font-size:4rem;color:red;">Session 1</h1>

In the first session, we learned to use vscode software for Python to implement our codes.
So, for this, we download and install this software from the reference site

<img src="https://www.vectorlogo.zone/logos/visualstudio_code/visualstudio_code-ar21.png">

The steps to install and run this software are simple, and in case of problems, you can refer to YouTube :)))
If you did not have any problems in the installation process of this software, run the software and follow the following steps:

1- Download and install Python from python.org

2- Open VScode and download Python Extension

In the end, everything is right and desirable . Now you can easily code and see its output

In [5]:
print("Hello World!")

Hello World!

This is your first programming code, if you can see its output, congratulations, you have entered the world of programming

<h1 style="font-size:4rem;color:red;">Session 2</h1>

The most basic thing in a programming language is to have a variable to store data . Variables can have any name, meaningful or meaningless , It can even be a character . for example :

In [7]:
x = 10
number = 20
First_number = 30

We can even define variables that initially have no value for example :

In [8]:
x = None
number = None
First_number = None

With this method, we can define variables without a value as global and use it throughout the program.

But it is not always necessary that the value of a variable is predefined. Sometimes it is necessary to get the value of a variable by the user and perform processing on it , for example :

In [ ]:
x = input()
number = input()
First_number = input()

By default, all the values received by Python are in the form of characters, so if you insist on receiving the correct value, you must enter the code in the following form :

In [ ]:
x = int(input())
number = int(input())
First_number = int(input())

According to the above, we want to write meaningful code that receives two values from the user and shows us its output, which is the sum of the two values :

In [11]:
x = int(input("Insert First Number : "))
y = int(input("Insert Second Number : "))
sum = x + y
print("Result of Sum is : " , sum)

Insert First Number : 13
Insert Second Number : 12
Result of Sum is :  25

If we want to enter decimal numbers :

In [12]:
x = float(input("Insert First Number : "))
y = float(input("Insert First Number : "))
sum = x + y
print("Result of Sum is : " , sum)

Insert First Number : 12.3
Insert First Number : 13.2
Result of Sum is :  25.5

Now, if our input value is a string :

In [14]:
str1 = "Content 1"
str2 = "Content 2"
print(str1 + " " + str2)

Content 1 Content 2

If we want to receive the same value as a string from the user :

In [16]:
str1 = input("Content 1 = ")
str2 = input("Content 2 = ")
print(str1 + " " + str2)

Content 1 = Python
Content 2 = Learning
Python Learning

# Arrays

Arrays are houses starting from zero to the end.
Different values are placed in these arrays, which will be returned to us by calling each house ,for example :

In [ ]:
array_1 = [123 , 124 , 234 , 345 , 567]

In the example above, there are five values in our array, starting from 0 and ending at number 4.

We give more examples to better understand this topic

In [17]:
array_1 = [123 , 124 , 234 , 345 , 567]
print(array_1[0])
print(array_1[1] , array_1[3])

123
124 345

One of the practical options in using arrays is the append option.
This option adds any value it gets to the last house of the array , for example :

In [18]:
array_1 = [123 , 124 , 234 , 345 , 567]
array_1.append(555)
print(array_1)

[123, 124, 234, 345, 567, 555]

The next option is to delete values :

In [19]:
array_1 = [123 , 124 , 234 , 345 , 567]
array_1.remove(345)
print(array_1)

[123, 124, 234, 567]

The next two options are the options to reverse and sort the array :

In [20]:
array_1 = [123 , 124 , 234 , 345 , 567]
array_1.reverse()
print(array_1)
array_1.sort()
print(array_1)

[567, 345, 234, 124, 123]
[123, 124, 234, 345, 567]

# ِِDictionary

Dictionaries in Python are a table model that has two columns . We call the first column 'key' and the second column 'value' :

In [25]:
foods = {
    "kebab" : "10$",
    "spaghetti" : "25$" ,
    "Chicken" : 10 ,
    "Omelette" : "5$"
}
print(" price for Spaghetti is  " + foods["spaghetti"] + "\n","price for Kebab is  " +  foods["kebab"] + "\n" ,"And price for Chicken is  " + str(foods["Chicken"]))

 price for Spaghetti is  25$
 price for Kebab is  10$
 And price for Chicken is  10

<h1 style="font-size:4rem;color:red;">Session 3</h1>

# IF

All the commands in the structure of a program are not done by just taking a simple input and printing it , Sometimes, in the process of working a program, there are situations where it is necessary to make decisions to continue , We call this situation, conditions and 'if' is used . for example :

In [27]:
x = int(input("Insert a Nmuber :  "))
if x < 10 :
    print("The insert number is less than 10")

Insert a Nmuber :  5
The insert number is less than 10

But if our input does not match the value of the condition , Here we use the 'else' command to perform an operation other than the condition , for example :

In [28]:
x = int(input("Insert a Nmuber :  "))
if x < 10 :
    print("The insert number is less than 10")
else :
    print("The insert number is bigger than 10")

Insert a Nmuber :  12
The insert number is bigger than 10

Another condition to use if is when our input is a string :

In [29]:
question = input("Do you want to buy some chips ? ")
if question == 'y' :
    print("Give me 10 dollars")
else :
    print("Have a nice day !")

Do you want to buy some chips ? y
Give me 10 dollars

Optionally, we can widen the conditions or answer fields , 
Answer us the conditions that each of the inputs had

In [30]:
question = input("Do you want to buy some chips ? ")
if question == 'y' or question == 'yes' or question == 'ye' or question == 'Y' :
    print("Give me 10 dollars")
else :
    print("Have a nice day !")

Do you want to buy some chips ? ye
Give me 10 dollars

# While

If we want a condition that creates a loop for us so that the codes are repeated over and over again, we use the 'while' command. for example :

In [36]:
insert_1 = input("What do you want to print?  ")
insert_2 = int(input("How many time ?  "))
while (insert_2 > 0) :
    print(insert_1)
    insert_2-=1

What do you want to print?  Python
How many time ?  5
Python
Python
Python
Python
Python

# Random

There is a library called Random, which randomly selects the number or string we have given to it and gives it to us. for example :

In [37]:
import random
insert_1 = int(input("How many random numbers do you want to be printed?  "))
while (insert_1 > 0) :
    ran = random.randint(1, 40)
    print(ran)
    insert_1 -= 1

How many random numbers do you want to be printed?  5
22
8
30
20
31

Now we want to use the random class to select a string from an array :

In [38]:
import random
arr = ["Betty White" , "Morgan Freeman" , "Robin Williams" ,
         "Denzel Washington" , "Michael J. Fox" , "Keanu Reeves" , "Danny DeVito" , "Lucille Ball"]
insert_1 = int(input("How many random names do you want to be printed?  "))
while (insert_1 > 0) :
    ran = random.choices(arr)
    print(ran)
    insert_1 -= 1

How many random names do you want to be printed?  4
['Betty White']
['Danny DeVito']
['Lucille Ball']
['Danny DeVito']

 <h1 style="font-size:4rem;color:red;">Session 4</h1>

# For

The For statement is another way to create a loop to repeat a process a specified number of times , for example :

In [39]:
sum = 0
for i in range(0 , 5) :
    x = int(input("Please insert score : "))
    sum += x
print(sum)

Please insert score : 10
Please insert score : 20
Please insert score : 30
Please insert score : 40
Please insert score : 50
150

As a further example, the Fibonacci function :

In [41]:
x , y = 0 ,1
print(x)
print(y)
for i in range(0,6) :
    print(x + y)
    z = x
    x = y
    y = z + x

0
1
1
2
3
5
8
13

# Function

Functions are created to make our work easier . In order to write the code once, use it many times . So we write the structure of a program or code as a function, and for other uses, it is enough to call only the function. for example :

In [44]:
def fibu ():
    x , y = 0 ,1
    print(x)
    print(y)
    for i in range(0,6) :
        print(x + y)
        z = x
        x = y
        y = z + x
print("This is Fibonacci function and we are going to call it ---> ")
print("Start")
fibu()
print("Finish")

This is Fibonacci function and we are going to call it --->
Start
0
1
1
2
3
5
8
13
Finish

 <h1 style="font-size:4rem;color:red;">Session 5</h1>

# DataBase (SQLite3)

This database, like its counterparts, is a database model that has rows and columns, it allows us to edit, update, create and delete fields. To start, we need to download and install its library first . We do this very simply with the following command in the vscode terminal :

> pip install sqlite3

Now it is enough to call the sqlite library :

In [ ]:
import sqlite3

After installing this library , To use a database, we use the 'Navicat Premium' program, which is a handy and lightweight program compared to its peers. You can easily download this program from internal sites .

In the discussion of SQL, we have four principles (We call it 'CRUD') :
> 1. Create (insert)
> 2. Read (select)
> 3. Update
> 4. Delete

After installing this program, we only need to create a database inside it and put the path of this database next to our Python file. The database file is known with the extension (.db) , We named this database 'db_sample.db' and placed it right next to our Python file. To call this database and connecting to it in Python, it is enough to enter the following command code :

In [ ]:
with sqlite3.connect('db_sample.db') as conn:

>Tip : 'conn' is a variable

Now, it is enough to create the desired columns in the database through the mentioned program, so that we can start filling them only through Python. In our agenda, we need a table with three columns containing id, grade, and name . These columns are supposed to be filled with the values of students' grades . Finally, it is necessary to assign a name to this table or entity , The name we assigned to it is 'students' .

To apply changes and add or even delete items from the table, we need to use a command called 'cursor' , We append this option to 'conn' and put it inside the 'cur' variable . Actually, the cursor is the interface between us and the database . To execute commands in sql, we must use 'sql query' . This work is for executing SQL commands .

In [ ]:
cur = conn.cursor()

>Tip : The important thing is to write sql queries in "capital letters"

# Read

In the first query, we write a command that selects the columns of the students table :

In [ ]:
cur.execute("SELECT id,grade,name FROM students")

Now, we have selected a table with specified columns, and we need to be given this attribute , For this, there is a command code called 'fetch' , This command code can be used in two ways : One is 'fetchall' , which returns all rows of the specified column , Another is 'fetchone' which returns only one row .

In [ ]:
st = cur.fetchall() or st = cur.fetchone()

Here 'st' is a variable to get from fetch to be used .

>Tip : sqlite is case sensitive

Eventually :

In [ ]:
with sqlite3.connect('db_sample.db') as conn:
    cur = conn.cursor()
    cur.execute("SELECT id,grade,name FROM students")
    st = cur.fetchall()
    print(st)

# Create

Now we want to enter new values in our sql lines :

In [ ]:
cur.execute("INSERT INTO students (id,grade,name) VALUES (?, ?, ?)" , (1,20,James))

With the 'INSERT' command, we insert (1,20,James) values into the (id,grade,name) columns of the 'students' table

Finally, we have to send this line into the database , For this, we use the 'commit' command :

In [ ]:
conn.commit()

Eventually :

In [ ]:
with sqlite3.connect('db_sample.db') as conn:
    cur = conn.cursor()
    cur.execute("INSERT INTO students (id,grade,name) VALUES (?, ?, ?)" , (i,garde,names))
    conn.commit()

# Update

Now we have a table whose first row is full, we used the insert command and read it, but sometimes it happens that we need to edit this row or rows. for this, we need to update this table , How ?

In [ ]:
cur.execute("UPDATE students SET grade = ? WHERE id = ?" , (12,2))

Here we say that, find the place where 'id' is equal to 2 and set the 'grade' value to 12 in that line.

Like insert, this query needs to be committed , so :

In [ ]:
conn.commit()

Eventually :

In [ ]:
with sqlite3.connect('db_sample.db') as conn:
    cur = conn.cursor()
    cur.execute("UPDATE students SET grade = ? WHERE id = ?" , (2,12))
    conn.commit()

# Delete

Finally, the only issue that remains is to remove a particular line from the table

In [ ]:
cur.execute("DELETE FROM students WHERE id = 2")

In this code, it is said to find the place where the id is equal to 2 and delete it

Eventually :

In [ ]:
with sqlite3.connect('db_sample.db') as conn:
    cur = conn.cursor()
    cur.execute("DELETE FROM students WHERE id = 2")

# Example :

In an example, we want to add a random library, put a number of names in an array and enter a score for them in the database completely randomly :

In [ ]:
import sqlite3
import random
name = ['Unity Savage' , 'Troy Harris' , 'Philippa Gildon' , 'Tammy Ortega' , 
        'Simona Carter' , 'Gavin Welch' , 'Guy Frazier' , 'Lindsay Harris' , 'Fern Gardner']


for i in range(1,10) :
    with sqlite3.connect('db_sample.db') as conn:
        #Create
        names = random.choice(name)
        garde = input("Garde --->  ")
        cur = conn.cursor()
        cur.execute("INSERT INTO students (id,grade,name) VALUES (?, ?, ?)" , (i,garde,names))
        conn.commit()
        i+=1

        #Read
cur.execute("SELECT id,grade,name FROM students")
st = cur.fetchall()
print(st)

Here we create a table with 3 columns and 10 rows. we take the values of the 'name' field randomly from the 'name array' .the value of 'id' is equal to 'i', which ranges from "1 to 10" , the grade value is taken from the user every time